<!-- data loading spiner -->
<app-wait-spiner *ngIf="waiting"></app-wait-spiner>

<div class="container mt-3" *ngIf="data.roleValidate('root production productor')">
    <div class="row">
        <div class="col-sm-6">
            <div class="lead">Administración de la producción</div>
            <div class="text-muted small">Edicion de proceso</div>
        </div>
        <div class="col-sm-6">
            <div class="float-right equam-hover" (click)="close();"><i class="fas fa-times"></i> Cerrar</div>
        </div>
    </div>
</div>

<div class="container mt-3">

    <div class="mt-3 bg-light">
        <div class="row equam-hover" data-toggle="collapse" href="#info">
            <div class="col-sm-12 lead">Información general</div>
        </div>
                    
        <div class="row p-1 mt-1 bg-light" id="info">
            <div class="col-sm-1">ID: <span class="equam-color">#{{formdata.id}}</span> </div>
            <div class="col-sm-3">Inicio: <span class="equam-color">{{formdata.startdate | date:'MMMM yyyy'}}</span> </div>
            <div class="col-sm-3">Estado: <span class="equam-color"><app-status-transform [statusid]="formdata.statusid"></app-status-transform></span> </div>
            <div class="col-sm-3">Árbol: <span class="equam-color strong">{{formdata.product.name}}</span> </div>
            <div class="col-sm-2">Cantidad: <strong class="equam-color strong">{{formdata.productQtty}}</strong> </div>
        </div>
    </div>

    <div class="mt-3 bg-light" *ngIf="data.roleValidate('root production')">
        <div class="row equam-hover" data-toggle="collapse" href="#sales">
            <div class="col-sm-12 lead">Información venta y cliente</div>
        </div>

        <div class="row p-1 mt-1 bg-light" id="sales">
            <div class="col-sm-3">Tipo de venta: <span class="equam-color">{{formdata.type}}</span> </div>
            <div class="col-sm-3">Empresa: <span class="equam-color">{{formdata.customerCompany}}</span> </div>
            <div class="col-sm-3">Cliente: <span class="equam-color">{{formdata.customerName}} {{formdata.customerSurname}}</span> </div>
            <div class="col-sm-3">Correo: <span class="equam-color">{{formdata.customerMail}}</span> </div>
        </div>
    </div>

    <div class="mt-3 bg-light" *ngIf="data.roleValidate('root production')">
        <div class="row equam-hover" data-toggle="collapse" href="#asign">
            <div class="col-sm-12 lead">Asignación</div>
        </div>

        <div class="row p-1 mt-1 bg-light" id="asign">
            <div class="col-sm-1">Productor</div>
            <div class="col-sm-4">
                <select style="width: 90%; border: none;" [(ngModel)]="formdata.manufacturerid" class="bg-light border-bottom">
                    <option value="0" selected>(sin asignar)</option>
                    <option *ngFor="let item of manufacturers" [value]="item.id">{{item.name}} {{item.surname}} ({{item.id}})</option>
                </select>
            </div>
            <div class="col-sm-1 equam-hover" (click)="chargeManufacturer();"><i class="fas fa-save ml-1"></i></div>

            <div class="col-sm-1">Receptor</div>
            <div class="col-sm-4">
                <select style="width: 90%; border: none;" [(ngModel)]="formdata.destinationid" class="bg-light border-bottom">
                    <option value="0" selected>(sin asignar)</option>
                    <option *ngFor="let item of destinations" [value]="item.id">{{item.name}} {{item.surname}}</option>
                </select>
            </div>
            <div class="col-sm-1 equam-hover" (click)="chargeDestination();"><i class="fas fa-save ml-1"></i></div>
        </div>
    </div>

    <div class="mt-3 bg-light">
        <div class="row equam-hover" data-toggle="collapse" href="#proccess">
            <div class="col-sm-12 lead">Procesos</div>
        </div>

        <div class="row p-1 mt-3 bg-light" id="proccess">
            
            <!-- GERMINACIÓN -->
            <div class="col-sm-3 mt-1">
                <div class="card equam-card">
                    <img [src]=" apiurl + '/data/images/?id=' + germ.pictureid " class="card-img-top" alt="" >
                    <div class="card-body">
                        <div class="lead">Germinación</div>
                        <div class="equam-color" *ngIf="germ.pictureid != 0">{{ germ.date | date:'dd/MM/yyyy' }}</div>
                        <small class="text-muted" *ngIf="formdata.product.germ == '1'">(obligatorio)</small>
                        <small class="text-muted" *ngIf="formdata.product.germ == '0'">(opcional)</small>
                    </div>
                    <div class="equam-overlay d-flex">
                        <div class="my-auto mx-auto">
                            <span class="equam-hover mr-5 h3">
                                <i class="fas fa-edit" title="Editar" (click)="edit('germ');" data-toggle="modal" data-target="#imgManagerModal"></i>
                            </span>
                            <span class="equam-hover h3">
                                <i class="fas fa-trash" title="Eliminar" (click)="deleteUpdate('germ');"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PRIMER REPIQUE -->
            <div class="col-sm-3 mt-1">
                <div class="card equam-card">
                    <img [src]=" apiurl + '/data/images/?id=' + repic1.pictureid " class="card-img-top" alt="" >
                    <div class="card-body">
                        <div class="lead">Primer repique</div>
                        <div class="equam-color" *ngIf="repic1.pictureid != 0">{{ repic1.date | date:'dd/MM/yyyy' }}</div>
                        <small class="text-muted" *ngIf="formdata.product.repic1 == '1'">(obligatorio)</small>
                        <small class="text-muted" *ngIf="formdata.product.repic1 == '0'">(opcional)</small>
                    </div>
                    <div class="equam-overlay d-flex">
                        <div class="my-auto mx-auto">
                            <span class="equam-hover mr-5 h3">
                                <i class="fas fa-edit" title="Editar" (click)="edit('repic1');" data-toggle="modal" data-target="#imgManagerModal"></i>
                            </span>
                            <span class="equam-hover h3">
                                <i class="fas fa-trash" title="Eliminar" (click)="deleteUpdate('repic1');"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SEGUNDO REPIQUE -->
            <div class="col-sm-3 mt-1">
                <div class="card equam-card">
                    <img [src]=" apiurl + '/data/images/?id=' + repic2.pictureid " class="card-img-top" alt="" >
                    <div class="card-body">
                        <div class="lead">Segundo repique</div>
                        <div class="equam-color" *ngIf="repic2.pictureid != 0">{{ repic2.date | date:'dd/MM/yyyy' }}</div>
                        <small class="text-muted" *ngIf="formdata.product.repic2 == '1'">(obligatorio)</small>
                        <small class="text-muted" *ngIf="formdata.product.repic2 == '0'">(opcional)</small>
                    </div>
                    <div class="equam-overlay d-flex">
                        <div class="my-auto mx-auto">
                            <span class="equam-hover mr-5 h3">
                                <i class="fas fa-edit" title="Editar" (click)="edit('repic2');" data-toggle="modal" data-target="#imgManagerModal"></i>
                            </span>
                            <span class="equam-hover h3">
                                <i class="fas fa-trash" title="Eliminar" (click)="deleteUpdate('repic2');"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RUSTIFICACIÓN -->
            <div class="col-sm-3 mt-1">
                <div class="card equam-card">
                    <img [src]=" apiurl + '/data/images/?id=' + rust.pictureid " class="card-img-top" alt="" >
                    <div class="card-body">
                        <div class="lead">Rustificación</div>
                        <div class="equam-color" *ngIf="rust.pictureid != 0">{{ rust.date | date:'dd/MM/yyyy' }}</div>
                        <small class="text-muted">(obligatorio)</small>
                    </div>
                    <div class="equam-overlay d-flex">
                        <div class="my-auto mx-auto">
                            <span class="equam-hover mr-5 h3">
                                <i class="fas fa-edit" title="Editar" (click)="edit('rust');" data-toggle="modal" data-target="#imgManagerModal"></i>
                            </span>
                            <span class="equam-hover h3">
                                <i class="fas fa-trash" title="Eliminar" (click)="deleteUpdate('rust');"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-3 bg-light" *ngIf="data.roleValidate('root production')">
        <div class="row equam-hover" data-toggle="collapse" href="#close">
            <div class="col-sm-12 lead">Destino</div>
        </div>

        <div class="row p-1 mt-3 bg-light" id="close">

            <!-- PLANTACIÓN DEFINITIVA -->
            <div class="col-sm-3 mt-1">
                <div class="card equam-card">
                    <img [src]=" apiurl + '/data/images/?id=' + plant.pictureid " class="card-img-top" alt="" >
                    <div class="card-body">
                        <div class="lead">Plantación definitiva</div>
                        <div class="equam-color" *ngIf="plant.pictureid != 0">{{ plant.date | date:'dd/MM/yyyy' }}</div>
                        <small class="text-muted">(obligatorio)</small>
                    </div>
                    <div class="equam-overlay d-flex">
                        <div class="my-auto mx-auto">
                            <span class="equam-hover mr-5 h3">
                                <i class="fas fa-edit" title="Editar" (click)="edit('plant');" data-toggle="modal" data-target="#imgManagerModal"></i>
                            </span>
                            <span class="equam-hover h3">
                                <i class="fas fa-trash" title="Eliminar" (click)="deleteUpdate('plant');"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</div>

<!-- seleción de imágenes -->
<app-img-manager (selectedImgIdEventEmitter)="receiveAvatarId($event)"></app-img-manager>
