<!-- data loading spiner -->
<app-wait-spiner *ngIf="waiting"></app-wait-spiner>

<div class="container mt-3">
    
    <div class="row">
        <div class="col-sm-6">
                <div class="lead">Imagenes</div>
                <div class="text-muted small">Visualice las imágenes almacenadas en el sistema</div>
        </div>
    </div>

    <div class="equam-border mt-3 p-3 card-columns">

        <div class="card" *ngFor="let image of images" >
            <img class="img-fluid text-center fade show" [src]=" apiurl + '/data/images/?id=' + image.id  " [alt]="image.name">
            <div class="overlay">
                <div class="text-center p-3">
                    <span class="lead">{{image.name}}</span><br>
                    <span class="text-muted">{{image.creation}}</span><br>
                    <span>{{image.description}}</span><br>
                    <div class="mt-auto">
                        <span class="equam-hover h3"> <i class="fas fa-trash" title="Eliminar" (click)="delete(image.id);"></i> </span>
                    </div>
                    <span style="position: absolute; bottom: 5px; left: 5px;">[ ID = {{image.id}} ]</span>
                </div>
            </div>
        </div>

    </div>
