<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
                <div class="lead">Productores</div>
                <div class="text-muted small">Gestión de los productores</div>
        </div>
        <div class="col-sm-6">
            <div class="form-inline ">
                <h2 class="equam-btn ml-auto float-right" (click)="new();" data-toggle="collapse" data-target="#profile"><i class="fas fa-plus-circle"></i></h2>
            </div>
        </div>
    </div>

    <!-- menu de edición del perfil -->
    <div class="equam-menu" id="profile">
        <div class="container mt-5">
            <div>
                <app-profile-manager [profile]="formdata" [newprofile]="newprofile" *ngIf="showprofile" (updatedProfileEventEmitter)="update($event)" ></app-profile-manager>
            </div>
        </div>
    </div>

    <!-- data loading spiner -->
    <app-wait-spiner *ngIf="waiting"></app-wait-spiner>

    <div class="card-columns mt-3">
        <div class="card m-1 p-1 equam-card" *ngFor="let manufacturer of manufacturers">
            <div style="height: 200px; overflow: hidden;" class="align-baseline">
                <img [src]="apiurl+'/data/images/?id='+manufacturer.avatar" class="card-img-top" *ngIf="manufacturer.avatar != '0' ">
                <img src="../../../assets/equam-logo.jpg" class="card-img-top" *ngIf="manufacturer.avatar == '0' ">
            </div>
            <div class="card-body">
                    <span class="lead">{{manufacturer.name}} {{manufacturer.surname}}</span><span class="text-muted small float-right">({{manufacturer.username}})</span><br>
                    <span class="text-muted small">{{manufacturer.email}}</span><br>
                    <div class="mt-1 mr-1">
                        <!-- indicadores de estado -->
                        <span *ngIf="manufacturer.needreset == 1"><i title="Permiso de configuración de contraseña activado" class="fas fa-key mr-1 text-danger"></i></span>
                        <span *ngIf="manufacturer.active == 1"><i title="Usuario activo" class="fas fa-user-check mr-1"></i></span>
                        <span *ngIf="manufacturer.active == 0"><i title="El usuario no puede ingresar al sistema" class="fas fa-ban mr-1 text-warning"></i></span>
                        <!-- indicadores de permisos -->
                        <span *ngIf="manufacturer.root == 1" class="float-right"><i title="Administrador del sistema" class="fas fa-shield-alt mr-1"></i></span>
                        <span *ngIf="manufacturer.admin == 1" class="float-right"><i title="Administrador" class="fas fa-user-cog mr-1"></i></span>
                        <span *ngIf="manufacturer.sales == 1" class="float-right"><i title="Ventas" class="fas fa-tags mr-1"></i></span>
                        <span *ngIf="manufacturer.production == 1" class="float-right"><i title="Producción" class="fas fa-seedling mr-1"></i></span>
                        <span *ngIf="manufacturer.productor == 1" class="float-right"><i title="Productor" class="fas fa-hands-helping mr-1"></i></span>
                    </div>
                    
            </div>
            <div class="equam-overlay d-flex">
                <div class="my-auto mx-auto">
                    <span class="equam-hover mr-5 h3">
                        <i class="fas fa-edit" title="Editar" (click)="edit(manufacturer);" data-toggle="collapse" data-target="#profile"></i>
                    </span>
                    <span class="equam-hover h3">
                        <i class="fas fa-trash" title="Eliminar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>
