<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
                <div class="lead">Productores</div>
                <div class="text-muted small">Gestión de los productores</div>
        </div>
        <div class="col-sm-6">
            <div class="form-inline ">
                <h2 class="equam-btn ml-auto float-right" (click)="new();"><i class="fas fa-plus-circle"></i></h2>
            </div>
        </div>
    </div>

    <!-- data loading spiner -->
    <app-wait-spiner *ngIf="waiting"></app-wait-spiner>

    <!--div class="mt-3" *ngIf="show"><app-profile-manager [profile]="formdata" [self]="false"></app-profile-manager></div-->

    <div class="card-columns mt-3">

        <div class="card m-1 p-1 equam-card" *ngFor="let manufacturer of manufacturers">

            <div class="row">
                <div class="col-4">
                    <img [src]=" apiurl + '/data/images/?id=' + manufacturer.avatar " class="p1 rounded img-fluid mb-0" alt="User-Picture" *ngIf=" manufacturer.avatar != '0' ">
                </div>
                <div class="col-row-8">
                    <span class="lead">{{manufacturer.name}} {{manufacturer.surname}}</span><br>
                    <span class="text-muted small">{{manufacturer.phone}}</span><br>
                    <span class="text-muted small">{{manufacturer.email}}</span><br>
                </div>
            </div>

            <div class="equam-overlay d-flex">
                <div class="my-auto mx-auto">
                    <span class="equam-hover mr-5 h3">
                        <i class="fas fa-edit" title="Editar" (click)="edit(manufacturer.id);"></i>
                    </span>
                    <span class="equam-hover h3">
                        <i class="fas fa-trash" title="Eliminar"></i>
                    </span>
                </div>
            </div>

        </div>

    </div>
    
</div>
