<div class="container my-5">

  <div class="text-left timeline-item">
    <img src="assets\equam-logo.jpg" class="rounded-circle mb-3" width="100em" height="100em">
    <h1 class="display-3 equam-color"> 
      Te contamos la historia de tu árbol<br>
      <span class="text-muted lead">Aquí encontratraras cada paso que da tu arbol hasta llegar a su destino</span>
    </h1>
  </div>

  <div class="timeline-item" date-is='20-07-1990'>
		<h1>Algarrobo Prosopis</h1>
		<p class="text-muted">Prosopis es un género de cerca de 45 especies de leguminosas en forma de árboles o arbustos espinosos, de regiones subtropicales y tropicales de América, África y el sudoeste de Asia. Prosperan en suelo árido y resisten sequías, desarrollando sistemas radiculares extremadamente profundos. Su madera es dura, densa y durable. Sus frutos son legumbres y pueden tener alta concentración de azúcar. La mayoría de Prosopis son especialmente resistentes a la salinidad y dado que estos terrenos aumentan sin cesar por una descuidada irrigación, son unos buenos candidatos para aprovechar esta clase de terrenos</p>
	</div>
  
	<div class="timeline-item" date-is='20-07-1990'>
    <p class="equam-color small py-0 border-bottom">Abril 2020</p>    
    <h1>El inicio</h1>
    <p class="text-muted">Todo comenzó con tu compra en Pepona, ese dia nos avisaron que te habias sumado a nuestra propuesta y que la Biomasa Argentina tendria un nuevo integrante</p>
	</div>
	
	<div class="timeline-item" date-is='20-07-1990'>
    <p class="equam-color small py-0 border-bottom">Mayo 2020</p>
		<h1>Plantamos tu árbol!</h1>
    <p class="text-muted">Ya está creciendiendo bajo el cuidado especial de uno de nuestros productores</p>
    <img src="https://i.ytimg.com/vi/6wjBySXyItk/maxresdefault.jpg" class="border rounded shadow" width="200em" height="auto">
	</div>
  
  <div class="timeline-item" date-is='20-07-1990'>
    <p class="equam-color small py-0 border-bottom">Agosto 2020</p>
		<h1>El primer brote!</h1>
    <p class="text-muted">Los primeros brotes ya se pueden ver</p>
    <img src="https://www.hogarmania.com/archivos/201211/iniciacion-al-huerto-en-macetas-con-semillas-668x400x80xX.jpg" class="border rounded shadow" width="200em" height="auto">
  </div>
  
  <div class="timeline-item" date-is='20-07-1990'>
    <p class="equam-color small py-0 border-bottom">Enero 2021</p>
		<h1>Creciendo fuerte!</h1>
    <p class="text-muted">Tu árbol crece fuerte y sano supervizado por uno de nuestros expertos productores</p>
    <img src="https://images-na.ssl-images-amazon.com/images/I/61Hyu2ofasL._AC_SX425_.jpg" class="border rounded shadow" width="200em" height="auto">
	</div>

	<div class="timeline-item" date-is='20-07-1990'>
    <p class="equam-color small py-0 border-bottom">Febrero 2021</p>
		<h1>Tu árbol está listo!</h1>
		<p class="text-muted">Tu árbol es fuerte y sano. Pronto lo estaremos llevando a su destinación y colavorará en mejorar el aire de nustro planeta</p>
  </div>
  
  <div class="timeline-item" date-is='20-07-1990'>
    <p class="equam-color small py-0 border-bottom">Abril 2021</p>
		<h1>Gracias!</h1>
		<p class="text-muted">Tu árbol ahora crece junto a muchos otros. Podes ver su ubicación <a href="https://goo.gl/maps/32VRVwXzLzBiLteF7">aquí</a> </p>
	</div>
	
</div>