<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
                <div class="lead">Producción</div>
                <div class="text-muted small">Gestión de los trabajos en curso</div>
        </div>
        <div class="col-sm-6">
            <div class="form-inline ">
                <input class="equam-input" type="text" placeholder="buscar">
                <h2 class="equam-btn ml-auto float-right" data-toggle="modal" data-target="#modalform"><i class="fas fa-plus-circle"></i></h2>
            </div>
        </div>
    </div> 
    
    <div class="row">

        

    </div>
    
</div>
