.equam-hover { cursor: pointer; }
.equam-hover:hover { color: #3db669; }
.equam-color { color: #3db669; }
.equam-btn { color: #3db669; transition: 0.5s; }
.equam-btn:hover { color: inherit; }
.equam-input { border: none; border-bottom: 1px solid #3db669; background-color: transparent;}
.equam-border { border: 1px solid #3db669; border-radius: 3px; background-color: white;}