<!-- data loading spiner -->
<app-wait-spiner *ngIf="waiting"></app-wait-spiner>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
                <div class="lead">Productos</div>
                <div class="text-muted small">Gestión de productos</div>
        </div>
        <div class="col-sm-6">
            <div class="form-inline ">
                <h2 class="equam-btn ml-auto float-right" data-toggle="modal" data-target="#modalform"><i class="fas fa-plus-circle"></i></h2>
            </div>
        </div>
    </div>

    <div>

        <!-- cabecera -->
        <app-table-headers [headers]="headers"></app-table-headers>

        <!-- datos -->
        <div class="border-bottom p-1 my-1 equam-hover animate__animated animate__slideInUp" *ngFor="let product of products">
            <div class="row">
                <div class="col-md-8">
                    {{product.name}}
                    <span class="d-block d-sm-block d-md-none float-right">
                        <i class="fas fa-ellipsis-v" data-toggle="modal" data-target="#modalform" (click)="edit(product);"></i>
                    </span> 
                </div>
                <div class="col-md-3">${{product.price}}</div>
                <div class="col-md-1"><i class="fas fa-ellipsis-v d-none d-sm-none d-md-block" data-toggle="modal" data-target="#modalform" (click)="edit(product);"></i></div>
            </div>
        </div>

    </div>
</div>

<!-- modal form -->
<div id="modalform" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalform" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                
                <div class="form-horizontal">
    
                    <input id="id" type="text" hidden="" [(ngModel)]="formdata.id" > 

                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <div class="form-group- lineal">
                                <label class="control-label" for="name">Nombre</label>
                                <input id="name" type="text" class="form-control input-md" required="" [(ngModel)]="formdata.name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="price">Precio</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input id="price" type="number" class="form-control input-md" required="" [(ngModel)]="formdata.price">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="qtty">Cantidad</label>
                                <input id="qtty" type="number" min="0" class="form-control input-md" required="" [(ngModel)]="formdata.qtty">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="frequency">Repetición [cada x meses]</label>
                                <select id="frequency" class="form-control" required="" [(ngModel)]="formdata.frequency">
                                    <option value="unique" selected>Único</option>
                                    <option value="monthly">Mensual</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">                            
                            <div class="form-group">
                                <label class="control-label" for="term">Vigencia [durante x meses]</label>
                                <input id="term" type="number" min="0" class="form-control input-md" required="" [(ngModel)]="formdata.term">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <!--div class="col-sm-3">
                            <label class="control-label" for="description">Foto</label>
                            <div class="border">
                                <img [src]="apiurl+'/data/images/?id='+formdata.avatar" class="img-fluid p-1" *ngIf="formdata.avatar != '0' ">
                                <img src="../../../assets/equam-logo.jpg" class="img-fluid p-1" *ngIf="formdata.avatar == '0' ">
                            </div>
                        </div-->
                        <div class="col-sm-6">
                            <div class="form-group" style="height: 100%;">
                                <label class="control-label" for="description">Descripción</label>
                                <textarea name="description" class="form-control" maxlength="65000" [(ngModel)]="formdata.description"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>Procesos asociados</p>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="germ"
                                    [checked]="formdata.germ == '1'"
                                    (change)="changeValue('germ');"
                                />
                                <label class="custom-control-label" for="germ">Germinación</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="repic1"
                                    [checked]="formdata.repic1 == '1'"
                                    (change)="changeValue('repic1');"
                                />
                                <label class="custom-control-label" for="repic1">Primer Repique</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="repic2"
                                    [checked]="formdata.repic2 == '1'"
                                    (change)="changeValue('repic2');"
                                />
                                <label class="custom-control-label" for="repic2">Segundo Repique</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="rust"
                                    [checked]="formdata.rust == '1'"
                                    (change)="changeValue('rust');"
                                />
                                <label class="custom-control-label" for="rust">Rustificación</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="mt-2">
                        <span class="equam-hover" data-toggle="collapse" data-target="#info" aria-expanded="false"><i class="fas fa-info-circle"></i> Información</span>
                    </div>
    
                    <div class="collapse border rounder p-1 bg-light mt-2" id="info">
                        
                        <p class="small">Creado {{ formdata.creation }}</p>
                        <p class="small">Modificado {{ formdata.lastchange }}</p>
                        
                    </div>
                    
                </div>
    
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clearForm();">Cancelar</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="save();" >Guardar</button>
            </div>
    
        </div>
    </div>
</div>
